*{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman';
}

header{
        background-color: white;
        height: 100vh;
        background-size: auto;
        background-position: center;
        min-height: 100px;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 5px;
    font-size: 17px;
}
    
ul li{
        display: inline-block;
}
    
ul li a{
        text-decoration:none;
        color: black;
        padding: 5px 30px;
        border: 1px solid transparent;
        transition: 0.5 ease;
}
    
ul li a:hover {
        background-color:darkgrey;
        color: rgb(255, 255, 255);
}
    
ul li.active a{
        background-color:darkgray;
        color:rgb(255, 255, 255);
}
    
.logo img{
        float: left;
        width: 80px;
        height: auto;
}
    
.main{
        max-width: 1200px;
        margin: auto;
}
    
.title{
        position:absolute;
        top: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
}


.section{
    position: absolute;
    top: 42%;
    left: 25%;
}

.section h2{
    color:black;
    font-size: 20px;
    margin: 0.9%;
    text-decoration: none;
}

.section p{
    color: black;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    list-style-type: disc;
    line-height: 23px;
}

.section2{
    position: absolute;
    top: 15%;
    left: 10%;
    line-height: 30px;
}

.section2 p{
    margin-right: 12%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
}

.section3{
    position: absolute;
    top: 36%;
    left: 10%;
}

.section3 h2{
    color:black;
    font-size: 20px;
    margin: none;
    text-decoration: none;
    line-height: 30px;
}

.section3 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
}

.section4 {
    position: absolute;
    top: 63%;
    left: 10%;
}

.section4 h2{
    color:black;
    font-size: 20px;
    margin: none;
    text-decoration: none;
    line-height: 30px;
}

.section4 h3{
    color: black;
    font-size: 15px;
    line-height: 50px;
}

.section4 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    margin-right: 12%;
}

.section5 {
    position: absolute;
    top: 125%;
    left: 10%;
}

.section5 h2{
    color:black;
    font-size: 20px;
    margin: none;
    text-decoration: none;
    line-height: 30px;
}

.section5 h3{
    color: black;
    font-size: 15px;
    line-height: 50px;
}

.section5 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    margin-right: 12%;
}

.section6 {
    position: absolute;
    top: 180%;
    left: 10%;
}

.section6 h2{
    color:black;
    font-size: 20px;
    margin: none;
    text-decoration: none;
    line-height: 35px;
}

.section6 h3{
    color: black;
    font-size: 15px;
    line-height: 50px;
}

.section6 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    margin-right: 12%;
}

.section7 {
    position: absolute;
    top: 225%;
    left: 10%;
}

.section7 h2{
    color:black;
    font-size: 20px;
    margin: none;
    text-decoration: none;
    line-height: 35px;
}

.section7 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    margin-right: 12%;
}

.section8 {
    position: absolute;
    top: 243%;
    left: 10%;
}

.section8 h2{
    color:black;
    font-size: 20px;
    margin: none;
    text-decoration: none;
    line-height: 35px;
}

.section8 h3{
    color: black;
    font-size: 15px;
    line-height: 50px;
}

.section8 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    margin-right: 12%;
}

.section8 ul li{
display: list-item;
font-family: Arial, Helvetica, sans-serif;
margin-right: 10%;
line-height: 25px;
font-size: 15px;
text-align: justify;
}

.section9 {
    position: absolute;
    top: 315%;
    right: 2%;
    padding: 30px;
}

.szeksön {
    position: absolute;
    top: 42%;
    left: 60%;
}

.szeksön h2{
    color:black;
    font-size: 20px;
    margin: 0.9%;
    text-decoration: none;
}

.szeksön p{
    color: black;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    list-style-type: disc;
    line-height: 23px;
}

.section10 {
    position: absolute;
    top: 90%;
    right: 2%;
    padding: 30px;
}
